:root {
  --main-font: "Outfit", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background-color: #232533;

}

[class*=__container] {
  max-width: 144rem;
  width: 95%;
  margin: 0 auto;
}

[class$=__heading] {
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0;
  font-weight: 900;
}

input {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-direction: column;
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}

.cards {
  width: 500px;
  height: 430px;
  position: relative;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

@media screen and (max-width: 600px) {
  .cards {
    width: 90%;
    margin: 0 auto;
  }
}

.cards label {
  position: absolute;
  width: 430px;
  left: 0;
  top: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

@media screen and (max-width: 600px) {
  .cards label {
    width: 100%;
  }
}

.cards .card {
  position: relative;
  height: 100%;
  background-color: #323444;
  border-radius: 10px;
  padding: 30px 35px;
}

.cards .image {
  display: flex;
  justify-content: center;
}

.cards .image img {
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  width: 86%;
  height: 420px;
  object-fit: cover;
  transition: all 0.7s;
}

@media screen and (max-width: 600px) {
  .cards .image img {
    height: 250px;
    width: 100%;
  }
}

.cards .image img:hover {
  transform: scale(1.05);
}

.cards .image .dots {
  text-align: center;
}

.dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.dots div:nth-child(1) {
  background-color: var(--current-color1);
}

.dots div:nth-child(2) {
  background-color: #5b85f9;
}

.dots div:nth-child(3) {
  background-color: #000;
}

.card .infos {
  text-align: end;
  padding-top: 20px;
  display: block;
}

.card .info span {
  display: block;
}

.infos .name {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: var(--current-color1);
  margin-bottom: 20px;
  text-align: center;
  transform: all 0.5s ease;
  letter-spacing: 8px;
}

.card .lorem {
  font-size: 15.5px;
  color: var(--current-color2);
  letter-spacing: 3px;
}

.card .btn-details {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card .btn-details:hover {
  transform: scale(1.09);
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

@media screen and (max-width: 600px) {
  #s1:checked ~ .cards #slide4,
  #s2:checked ~ .cards #slide5,
  #s3:checked ~ .cards #slide1,
  #s4:checked ~ .cards #slide2,
  #s5:checked ~ .cards #slide3 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
    transform: translate3d(0, -10%, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
  }
}

#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

@media screen and (max-width: 600px) {
  #s1:checked ~ .cards #slide5,
  #s2:checked ~ .cards #slide1,
  #s3:checked ~ .cards #slide2,
  #s4:checked ~ .cards #slide3,
  #s5:checked ~ .cards #slide4 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
    transform: translate3d(0, -10%, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
  }
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.50);
  transform: translate3d(0, 10%, 0);
  --current-color1: #fad00c;
  --current-color2: #eceaed;
}

@media screen and (max-width: 600px) {
  #s1:checked ~ .cards #slide1,
  #s2:checked ~ .cards #slide2,
  #s3:checked ~ .cards #slide3,
  #s4:checked ~ .cards #slide4,
  #s5:checked ~ .cards #slide5 {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.50);
    transform: translate3d(0, 10%, 0);
    --current-color1: #fad00c;
    --current-color2: #eceaed;
  }
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

@media screen and (max-width: 600px) {
  #s1:checked ~ .cards #slide2,
  #s2:checked ~ .cards #slide3,
  #s3:checked ~ .cards #slide4,
  #s4:checked ~ .cards #slide5,
  #s5:checked ~ .cards #slide1 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
    transform: translate3d(0, 35%, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
  }
}

#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

@media screen and (max-width: 600px) {
  #s1:checked ~ .cards #slide3,
  #s2:checked ~ .cards #slide4,
  #s3:checked ~ .cards #slide5,
  #s4:checked ~ .cards #slide1,
  #s5:checked ~ .cards #slide2 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
    transform: translate3d(0, 70%, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;
  }
}